.main-characters{
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    
}
li:hover{
    color: rgba(255, 0, 0)
}
.main-characters li{
    cursor: pointer;
    list-style-type:lower-greek;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}
.characters-list{
    width: 350px;
    height: 600px;
    overflow: scroll;
}
.characters-content{
    margin-left: 10px;
    width: 780px;
    height: 270px;
}
.characters-content h3{
    display: inline-block;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: lighter;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    margin-left: 20px;
}
.characters-content span{
    color: black;
    display: flex;
    margin-left: 150px;
    font-weight: lighter;
    margin-top: -10px;
    font-size: 16px;
    width: 100px;
}
.character-quotes{
    width: 780px;
    height: 318px;
    margin-top: 18px;
}
.character-quotes li{
    list-style-type: none;
    
}