<div class="main-characters">
  <div class="characters-list">
    <li (click)="getCharacter(character)" *ngFor="let character of characters">
      {{ character.name }}
    </li>
  </div>
  <div *ngIf="isClicked" class="characters-content">
    <h3>
      Name: <span> {{ selectedCharacter?.name }} </span>
    </h3>
    <br />
    <h3>
      Race: <span> {{ selectedCharacter?.race }} </span>
    </h3>
    <br />
    <h3>
      Gender:
      <span>
        {{ selectedCharacter?.gender }}
      </span>
    </h3>
    <br />
    <h3>
      Spouse:
      <span>
        {{ selectedCharacter?.spouse ? selectedCharacter?.spouse : "Unnamed" }}
      </span>
    </h3>

    <div class="character-quotes">
      <h3>Just A Quote</h3>
      <li>{{ quote }}</li>
    </div>
  </div>
</div>
