.main-movies{
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    
}
li:hover{
    color: rgba(23, 106, 30, 0.6)
}
.main-movies li{
    cursor: pointer;
    list-style-type:lower-greek;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    
}
.movies-list{
    border: 1px solid black;
    width: 450px;
    height: 600px;
}
.movies-content{
    margin-left: 10px;
    width: 780px;
    height: 600px;
    border: 1px dotted black;
}

.movies-content span{
    color: red;
    margin-left: -110px;
    font-weight: 100;
    font-size:smaller;
}

.movies-content img{
    padding: 50px;
    margin-top: -30px;
}