<div class="main-movies">
  <div class="movies-list">
    <li (click)="getMovie(movie)" *ngFor="let movie of movies">
      {{ movie.name }}
    </li>
  </div>
  <div *ngIf="isClicked" class="movies-content">
    <!-----------------------------Nominee------------------------------------>
    <img
      src="../../../assets/nominee.png"
      alt="nominee"
      width="40"
      height="40"
    />
    <span>
      {{ selectedMovie?.academyAwardNominations }}
    </span>
    <!-----------------------------Awards------------------------------------>
    <img src="../../../assets/award.png" alt="award" width="40" height="40" />
    <span>
      {{ selectedMovie?.academyAwardWins }}
    </span>
    <!-----------------------------Revenue------------------------------------>
    <img src="../../../assets/money.png" alt="revenue" width="40" height="40" />
    <span> {{ selectedMovie?.boxOfficeRevenueInMillions }} mn$ </span>
    <!-----------------------------Runtime------------------------------------>
    <img src="../../../assets/time.png" alt="revenue" width="30" height="30" />
    <span> {{ selectedMovie?.runtimeInMinutes }} mn$ </span>
    <!-----------------------------Nominee------------------------------------>
    <img
      src="../../../assets/tomato.png"
      alt="revenue"
      width="30"
      height="30"
    />
    <span> {{ selectedMovie?.rottenTomatoesScore }} </span>
  </div>
</div>
s
