.main-movies{
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    
}
li:hover{
    color: rgba(23, 106, 30, 0.6)
}
.main-movies li{
    cursor: pointer;
    list-style-type:lower-greek;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}
.movies-list{
    background-color: rgba(169, 169, 169, 0.010);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 600px;
}
.movies-content{
    margin-top: -22px;
    margin-left: 10px;
    width: 780px;
    height: 600px;
}

.movies-content span{
    margin-left: -80px;
    font-weight: 900;
    font-size:smaller;
}

.movies-content img{
    padding:50px;
    margin-top: -30px;
}
.panel-box{
    margin-bottom: 20px;
    background-color: #ffffff;
}
.panel-heading{
    font-size: 28px;
    font-weight: 100;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    padding-left: 131px;
    font-family: 'Neusa Next Pro Compact',Impact,Arial,sans-serif;
}
.panel-heading::before {
    margin-left: -135px;
    background-color: rgb(255, 0, 0);
    content: '';
    min-width: 30px;
    height: 28px;
    position: absolute;
}
.panel-heading::after {
    margin-left: 30px;
    background-color: rgb(255, 0, 0);
    content: '';
    min-width: 100%;
    height: 28px;
    position: absolute;
}


