<div class="main-characters">
    <div class="characters-list">
        <li (click) ="getCharacter(character)" *ngFor="let character of characters">{{character.name}}</li>
    </div>
    <div class="characters-content">
        <h3>Name: <span> {{cName}} </span>  </h3> 
        <br>
        <h3>Race: <span>  {{cRace}} </span>  </h3> 
        <br>
        <h3>Gender: <span> {{cGender}} </span>  </h3> 
        <br>
        <h3>Spouse: <span> {{cSpouse}} </span> </h3>  

       
        <div *ngIf="quotes" class="character-quotes">
            <span> {{quotes[0].dialog}}</span>

        </div>
       
        
    </div>
    
    
</div>

