.main-characters{
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    
}
li:hover{
    color: rgba(23, 106, 30, 0.6)
}
.main-characters li{
    cursor: pointer;
    list-style-type:lower-greek;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    
}
.characters-list{
    border: 1px solid black;
    width: 450px;
    height: 600px;
    overflow: scroll;
}
.characters-content{
    margin-left: 10px;
    width: 780px;
    height: 270px;
    border: 1px dotted black;
}
.characters-content h3{
    display: inline-block;
    background-color: rgba(248, 210, 133, 0.621);
    color: rgb(74, 74, 153);
    font-size: small;
    font-weight: lighter;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    margin-left: 20px;
}
.characters-content span{
    color: black;
    display: flex;
    margin-left: 150px;
    font-weight: lighter;
    margin-top: -10px;
    font-size: 16px;
    width: 100px;
}
.character-quotes{
    border: 1px dotted black;
    width: 780px;
    height: 318px;
    margin-top: 18px;
}